*.db
*.log
*.pyc
*.pyo

/.DS_Store
/.idea
/.coverage
/.vagrant
/.venv
/assets/bundles
/celerybeat-schedule
/celerybeat.pid
/logs/*.log*
/media
/media_restricted
/puppet
/static
/Vagrantfile

local_env.py
local_settings.py
node_modules
tmp
