wheel
awscli
psycopg
celery
Django==4.2.*
djangorestframework
django-filter
django-debug-toolbar
django-redis-cache
django-ses
django-test-without-migrations
drf-yasg
pylibmc
requests
uWSGI
grpcio
grpcio-tools
setuptools
